body {
    background-color: #000;
}



@import "https://unpkg.com/transition-style";

.letra{
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: 900;
    margin: 5px;
}


.letra1 {
    position: relative;
    animation: letra1 2s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra1 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}

.letra2 {
    position: relative;
    animation: letra2 2.1s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra2 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}

.letra3 {
    position: relative;
    animation: letra3 2.2s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra3 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}

.letra4 {
    position: relative;
    animation: letra4 2.3s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra4 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}

.letra5 {
    position: relative;
    animation: letra5 2.4s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra5 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}

.letra5 {
    position: relative;
    animation: letra5 2.5s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra5 {
0% {
    transform: translateX(1000px);
}  
100% {
    transform: translateX(0px);
}
}

.letra6 {
    position: relative;
    animation: letra6 2.6s ease 0s 1 normal forwards;
    top: 50px;
    
}

@keyframes letra6 {
0% {
    transform: translateX(1000px);
}

100% {
    transform: translateX(0px);
}
}
