html {
    height: 100%;
}

body {
    background: #000000;
    max-height: 100%;
    opacity: 1;
    overflow: hidden;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
}

div{
    display: flex;
    align-items: center;
    margin: 0em;
}
.caja{
    width: 40vw;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@import "https://unpkg.com/transition-style";

.letra{
    text-align: center;
    -webkit-text-stroke: 4px rgb(255, 0, 0);
    text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    font-size: 5em;
}


.letra1 {
    position: absolute;
    animation-name: letra1;
    animation-duration: 10.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra1 {
0% {
    transform: translateX(125em);
}

25% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(-3.35em);
}

100% {
    transform: translateX(-125em);
}
}

.letra2 {
    position: absolute;
    animation-name: letra2;
    animation-duration: 10.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra2 {
0% {
    transform: translateX(125em);
}

27% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(-2.85em);
}

100% {
    transform: translateX(-125em);
}
}

.letra3 {
    position: absolute;
    animation-name: letra3;
    animation-duration: 10.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra3 {
0% {
    transform: translateX(125em);
}

29% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(-2.25em);
}

100% {
    transform: translateX(-125em);
}
}

.letra4 {
    position: absolute;
    animation-name: letra4;
    animation-duration: 10.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}



@keyframes letra4 {
0% {
    transform: translateX(125em);
}

31% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(-1.55em);
}

100% {
    transform: translateX(-125em);
}
}

.letra5 {
    position: absolute;
    animation-name: letra5;
    animation-duration: 10.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra5 {
0% {
    transform: translateX(125em);
}

33% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(-0.7em);
}

100% {
    transform: translateX(-125em);
}
}


.letra6 {
    position: absolute;
    animation-name: letra6;
    animation-duration: 10.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra6 {
0% {
    transform: translateX(125em);
}

35% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(0em);
}

100% {
    transform: translateX(-125em);
}
}

.letra7 {
    position: absolute;
    animation-name: letra7;
    animation-duration: 10.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra7 {
0% {
    transform: translateX(125em);
}

37% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(0.7em);
}

100% {
    transform: translateX(-125em);
}
}

.letra8 {
    position: absolute;
    animation-name: letra8;
    animation-duration: 10.6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra8 {
0% {
    transform: translateX(125em);
}

39% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(1.3em);
}

100% {
    transform: translateX(-125em);
}
}

.letra9 {
    position: absolute;
    animation-name: letra9;
    animation-duration: 10.7s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra9 {
0% {
    transform: translateX(125em);
}

41% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(1.9em);
}

100% {
    transform: translateX(-125em);
}
}

.letra10 {
    position: absolute;
    animation-name: letra10;
    animation-duration: 10.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra10 {
0% {
    transform: translateX(125em);
}

43% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(2.65em);
}

100% {
    transform: translateX(-125em);
}
}

.letra11 {
    position: absolute;
    animation: letra11 7.9s ease 0s 1 normal forwards;
    animation-name: letra11;
    animation-duration: 10.9s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes letra11 {
0% {
    transform: translateX(125em);
}

45% {
    transform: translateX(0em);
}

50% {
    transform: translateX(0em);
}

75% {
    transform: translateX(3.3em);
}

100% {
    transform: translateX(-125em);
}
}

@media (max-width: 480px) {
    .letra{
        font-size: 3em;
    }
}

@media (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
    .letra{
        font-size: 7em;
    }
}


@media (min-width: 1025px) {
    .letra{
        font-size: 9em;
    }
}
