@import "https://unpkg.com/transition-style";


html {
    height: 100%;
}
body {
    max-height: 100%;
    cursor: grab;
    text-align: center;
    background: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
}

#remarcar{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 1.5em;
    border-width: 3px;
    border-style: solid;
}


#flex-container {
    position: relative;
    width: 98vw;
    height: 97vh;
    display: grid;
    grid-template-columns: 30% 70%; /* la cantidad de columnas, cada valor que se agrega es una columna */
    gap: 1em;
}


.cajaotros{
    gap: 1em;
    width: 66vw;
    height: 94vh;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; /* la cantidad de filas, cada valor que se agrega es una fila */
}

.cajabotones{
    position: relative;
    justify-content: center;
    height: 97vh;
    align-items: center;
}

#puntos{
    position: relative;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.2em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 5px 10px;
}

#puntos:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
}



#tipos{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
    color: antiquewhite;
    font-size: 1.5em;
}

input{
    position: relative;
    top: -2.1em;
    margin-bottom: 1.5em;
}
.dalt{
    position: relative;
    top: -1.1em;
}

h2{
    text-decoration: none;
    position: relative;
    top: -0.8em;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 0, 0);
    text-shadow:0 0 0.3em rgb(255, 0, 0), 0 0 0.3em rgb(255, 0, 0);/* color de la luz*/
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.volumenes{
    text-decoration: none;
    position: relative;
    top: -1.3em;
    margin-bottom: 1em;
    text-align: center;
    -webkit-text-stroke: 0.5px rgb(255, 0, 0);
    text-shadow:0 0 0.1em rgb(255, 0, 0), 0 0 0.1em rgb(255, 0, 0);/* color de la luz*/
    font-size: 2.2em;
    color: rgb(0, 0, 0);
}

.boton {
    position: relative;
    top: 20%;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.2em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 5px 5px;
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }
.target {
    transition-property: font-size;
    transition-duration: 1s;
}

.target:hover {
    font-size: 3.2em;
}

/*celulares*/
@media only screen and (max-width: 480px) {}

/*tablets*/
@media only screen and (max-width: 768px) {
    .letra{
        font-size: 4em;
    }
    .boton{
    position: relative;
    border-radius: 13px;/*borde del boton*/
    box-shadow: 2px 2px 2px 2px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 7px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 1.5em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 2px 2px;
    }
    .target:hover{
        font-size: 2.2em;
    }
    h2{
        font-size: 2em;
    }
    .dalt{
        display: flex;
        margin-bottom: 1em;
        font-size: 1em;
    }
    .volumenes{
        font-size: 1.5em;
        -webkit-text-stroke: 0.2px rgb(255, 0, 0);
        text-shadow:0 0 0.1em rgb(255, 0, 0), 0 0 0.1em rgb(255, 0, 0);/* color de la luz*/
    }
    input{
        scale: 0.8;
    }
    #flex-container{
        width: 95vw;
    }
}

/*notebooks*/
@media only screen and (max-width: 1024px) {}

/*escritorio*/
@media only screen and (max-width: 1025px) {}