
html {
    height: 100%;
}
body {
    cursor: grab;
    text-align: center;
    background: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
}

@import "https://unpkg.com/transition-style";

.boton {
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 0.5em;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.5em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 0.2em;
    border: 0px solid #666; /* color y proporcion para el borde del boton */
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }




    .letra{
    position: absolute;
    left: 35%;
    top: 15%;
    text-align: center;
    text-shadow:0 0 0.6em #ff0000, 0 0 0.6em #ff0000;/* color de la luz*/
    font-size: 4em;
    font-family: monospace;
    margin: 5px;
    -webkit-text-stroke: 2px rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.target {
    transition-property: font-size;
    transition-duration: 1s;
}

.target:hover {
    font-size: 35px;
}



.tablero{
    animation: tablero 2s ease 0s 1 normal forwards;
    text-align: center;
    position: absolute;
    height: 380px;
    width: 700px;
    left: 25%;
    top: 20%;
}

@keyframes tablero {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}


.transition-style{
animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}


@keyframes circle-in-hesitate {
    from {
    clip-path: inset(20% 100% 0 0);
    }
    to {
    clip-path: inset(0 0 0 0);
    }
}

