
html {
    max-height: 100%;
}


body {
    cursor: grab;
    text-align: center;
    background: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
    font-size: 100%;
    overflow: hidden;
}

header,article,aside,footer{
    border: 0px solid white;
}

/* cajas logicas, vacio son los espacios en blanco y puntoj1 y 2 los puntos de cada jugador */
.vacio{
    position: relative;
    width: 4.95vw;
    height: 7vh;
    border: 0px solid orangered;
}

.puntoj1,.puntoj2{
    position: relative;
    width: 4.95vw;
    height: 7vh;
}

.puntoj1{
    border: 0px solid white;
}

.puntoj2{
    border: 0px solid rgb(255, 0, 212);
}

/* width:72vw; height:73vh;*/
.wall{
    position: relative;
    border: 1px solid white;
    width: 30px;
    height: 15px;
}
#puntos > div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around ;
}



.botones{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 10px;/*borde del boton*/
    box-shadow: 3px #980000; /* color y tama単o de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 4px; /*top,bottom,left,right para donde se estira*/
    font-size: 2em; /* tama単o de las letras*/
    display: inline-block;/*espacios*/
    margin: 0.5em;
    transition-property: font-size;
    transition-duration: 1s;
}

.botones:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    font-size: 2.7em;
}

header { 
    height: 10vh;
    position: relative;
    grid-area: header;
    left: 25.5%;
    width: 73.5vw;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
}

aside { 
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    grid-area: side;
    width: 24.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

article{
    width: 73vw;
    height: 76vh;
    position: relative;
    grid-area: content; 
    border-radius: 1em;
    top: -1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cajaverdadera2,#cajaverdadera1{
    position: absolute;
    width: 0.85vw;
    height: 11.6vh;
    text-align: center;
    border: 2px solid #ff0000;
    font-size: 1em;
    color: rgb(0, 0, 0);
    background: #000000;
    border-radius: 1em;
}
#j1,#j2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1vw;
    height: 12vh;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 1em;
}

#j1{
    top: 40%;
    left: 15%;
}

#j2{
    top: 40%;
    left: 83%;
}

#pelota{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 79.2%;
    border: 2px solid red;
    background: linear-gradient(45deg,#000000,#000000, #ff0000, #000000,#000000); 
}

#cajagrande{
    position: relative;
    width: 71.5vw;
    height: 73vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, #161616, #000000,#161616 );
    border-radius: 10px;
    overflow: hidden;
}

footer { 
    bottom: 0%;
    left: 25%;
    width: 73.5vw;
    grid-area: footer; 
    position: absolute;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

.marcar{
    width: 25%;
}


.grid-container {
    left: 0%;
    top: 50%;
    transform: translate(-50%-50%);
    gap: 0;
    position: relative;
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-areas:
    'header header header'
    'side content content'
    'footer footer footer';
}
#box{
    position: relative;
    background: repeating-conic-gradient(from var(--a), #520000 80%, #cf0000 90%, transparent 5%,
    transparent 70%,#ff0000 100%);
    animation: animate 4s linear infinite;
    border-radius: 1em;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate{
    0%{
        --a: 0deg;
    }

    100%{
        --a: 360deg;
    }
}



.separacion{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    justify-content: center;
    align-items: center;
}
.palitos{
    position: relative;
    width: 0.5vw;
    height: 8vh;
    border: 1.5px solid red;
    border-radius: 1em;
    margin-bottom: 2vh;
    margin-top: 2vh;
    box-shadow:0 0 0.4em rgb(170, 0, 0);/* color de la luz*/
}

.letra{
    text-align: center;
    -webkit-text-stroke: 1px #ff0000;
    text-shadow:0 0 0.4em #ff0000, 0 0 0.4em #ff0000;/* color de la luz*/
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.scroll-div{
    width: 350px;
    height: 360px;
    overflow: hidden;
    overflow-y: hidden;
}

.scroll-div:hover{
overflow-y: scroll;
}

.remarcar{
    border: 3px solid #ff0000;
    border-radius: 1.5em;
    width: 325px;
    height: 200px;
}

#flex-container {
    position: relative;
    width: 98vw;
    height: 97vh;
    display: grid;
    grid-template-columns: 30% 70%; /* la cantidad de columnas, cada valor que se agrega es una columna */
    gap: 1em;
}


.cajaotros{
    gap: 1em;
    width: 66vw;
    height: 94vh;
    position: relative;
    display: grid;/* la cantidad de filas, cada valor que se agrega es una fila */
}

.cajabotones{
    position: relative;
    justify-content: center;
    height: 97vh;
    align-items: center;
}



#tipos{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
    color: antiquewhite;
    font-size: 1em;
}

input{
    position: relative;
    top: -2.1em;
    margin-bottom: 1.5em;
}
.dalt{
    position: relative;
    top: -1.1em;
    color: #ff0000;
    font-size: 1em;
    -webkit-text-stroke: 0.01px #ff0000;
    text-shadow:0 0 0.01em #ff0000, 0 0 0.01em #ff0000;/* color de la luz*/
}

label{
    color: #ff0000;
}

.nom{
    text-decoration: none;
    position: relative;
    top: -0.8em;
    text-align: center;
    -webkit-text-stroke: 1px #ff0000;
    text-shadow:0 0 0.1em #ff0000, 0 0 0.1em #ff0000;/* color de la luz*/
    font-size: 2em;
    color: rgb(0, 0, 0);
}





.boton {
    position: relative;
    top: 20%;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tama単o de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.2em; /* tama単o de las letras*/
    display: inline-block;/*espacios*/
    margin: 5px 5px;
    transition-property: font-size;
    transition-duration: 1s;
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    font-size: 3.2em;
}


/*celulares*/
@media (width <= 481px) and (height <= 321px){
}

/*tablets*/
@media only screen and (max-width: 768px) {
}


