body{
    background: #000000;
    cursor: grab;
}
@import "https://unpkg.com/transition-style";

.j1{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.j2{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
}

.tablero{
    animation: tablero 2s ease 0s 1 normal forwards;
    text-align: center;
    position: absolute;
    height: 380px;
    width: 700px;
    left: 25%;
    top: 20%;
}

@keyframes tablero {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}
