body{
    text-align: center;
    background: #000000;
}
.boton {
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 30px; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 5px 5px;
    border: 0px solid #666; /* color y proporcion para el borde del boton */
    
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }
.target {
    transition-property: font-size;
    transition-duration: 1s;
}

.target:hover {
    font-size: 40px;
}



div {
    position: relative;
    animation: myAnim 2s ease 0s 1 normal forwards;
    top: 50px;
}

@keyframes myAnim {
	0% {
		transform: translateX(1000px);
	}

	100% {
		transform: translateX(0px);
	}
}