
@import "https://unpkg.com/transition-style";


html {
    height: 100%;
}
body {
    cursor: grab;
    text-align: center;
    background: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
    font-size: 100%;
    max-height: 100%;
    overflow: hidden;
}

.boton {
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.5em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 5px 5px;
    border: 0px solid #666; /* color y proporcion para el borde del boton */
}

.letra{
    text-decoration: none;
    position: relative;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 0, 0);
    text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    font-size: 6em;
    color: rgb(0, 0, 0);
}

.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }
.target {
    transition-property: font-size;
    transition-duration: 1s;
}


.target:hover {
    font-size: 3.5em;
}

div {
    position: relative;
    animation: myAnim 2s ease 0s 1 normal forwards;
    top: 0em;
    left: 30em;
    display: flex;
    flex-direction: column;
    columns: 1;
    display: inline-block;
}

@keyframes myAnim {
	0% {
		transform: translateX(80em);
	}

	100% {
		transform: translateX(-30em);
	}
}



/*celulares*/
@media (width <= 480px) and (height <= 320px) {
    div {
        top: -1em;
        left: 30em;
        display: flex;
        flex-direction: column;
        columns: 1;
        display: inline-block;
    }
    .boton {
        font-size: 1.2em;
        margin: 1vw;
    }
    .letra {
        font-size: 2.5em;
        -webkit-text-stroke: 0.5px rgb(255, 0, 0);
        text-shadow:0 0 0.2em rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);/* color de la luz*/
    }
    .target:hover {
        font-size: 1.5em;
    }
}

/*tablets*/
@media (width >= 481px) and (height >= 321px){
    .boton {
        border-radius: 10px;/*borde del boton*/
        box-shadow: 2px 2px 2px 2px #980000; /* color y tamaño de la luz de fondo*/
        font-family: monospace;
        color: #ffffff; /* color de las letras*/  
        padding: 6px; /*top,bottom,left,right para donde se estira*/
        text-decoration: none;
        font-size: 2.2em; /* tamaño de las letras*/
        display: inline-block;/*espacios*/
        margin: 3px 3px;
        border: 0px solid #666; /* color y proporcion para el borde del boton */
    }
    div {
        top: -1em;
        left: 30em;
        display: flex;
        flex-direction: column;
        columns: 1;
        display: inline-block;
    }
    .boton {
        font-size: 1.8em;
        margin: 2px 2px;
    }
    .letra {
        font-size: 2.9em;
        -webkit-text-stroke: 2px rgb(255, 0, 0);
        text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    }
    .target:hover {
        font-size: 2em;
    }
}

@media (width >= 768px) and (height >= 481px){
    
    .boton {
        border-radius: 15px;/*borde del boton*/
        box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
        font-family: monospace;
        color: #ffffff; /* color de las letras*/  
        padding: 8px; /*top,bottom,left,right para donde se estira*/
        text-decoration: none;
        font-size: 2.5em; /* tamaño de las letras*/
        display: inline-block;/*espacios*/
        margin: 5px 5px;
        border: 0px solid #666; /* color y proporcion para el borde del boton */
    }
    
    .letra{
        text-align: center;
        -webkit-text-stroke: 2px rgb(255, 0, 0);
        text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
        font-size: 6em;
    }
    .target:hover {
        font-size: 3.5em;
    }
    
    div {
        top: 0em;
        left: 30em;
    }

}

@media (width >= 1420px) and (height >= 780px) {
    .boton {
        border-radius: 25px;/*borde del boton*/
        box-shadow: 7px 7px 7px 7px #980000; /* color y tamaño de la luz de fondo*/
        font-family: monospace;
        color: #ffffff; /* color de las letras*/  
        padding: 8px; /*top,bottom,left,right para donde se estira*/
        text-decoration: none;
        font-size: 4.5em; /* tamaño de las letras*/
        display: inline-block;/*espacios*/
        margin: 5px 5px;
    }
    
    .letra{
        text-align: center;
        -webkit-text-stroke: 4px rgb(255, 0, 0);
        text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
        font-size: 8em;
    }
    .target:hover {
        font-size: 5.5em;
    }
    
    div {
        top: 0em;
        left: 30em;
    }

}

@media (width >= 2000px) and (height >= 1300px) {
    .boton {
        border-radius: 45px;/*borde del boton*/
        box-shadow: 10px 10px 10px 10px #980000; /* color y tamaño de la luz de fondo*/
        font-family: monospace;
        color: #ffffff; /* color de las letras*/  
        padding: 8px; /*top,bottom,left,right para donde se estira*/
        text-decoration: none;
        font-size: 8.5em; /* tamaño de las letras*/
        display: inline-block;/*espacios*/
        margin: 5px 5px;
        border: 0px solid #666; /* color y proporcion para el borde del boton */
    }
    
    .letra{
        text-align: center;
        -webkit-text-stroke: 6px rgb(255, 0, 0);
        text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
        font-size: 12em;
    }
    .target:hover {
        font-size: 9em;
    }
    
    div {
        top: 0em;
        left: 30em;
    }
}