
@import "https://unpkg.com/transition-style";


html {
    height: 100%;
}
body {
    cursor: grab;
    text-align: center;
    background: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 0.5em ), repeating-linear-gradient( #25252555, #252525 );
}





.boton {
    text-align: center;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 15px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 8px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 2.5em; /* tamaño de las letras*/
    display: inline-block;/*espacios*/
    margin: 0.2em;
    border: 0px solid #666; /* color y proporcion para el borde del boton */
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }
.target {
    transition-property: font-size;
    transition-duration: 1s;
}

.target:hover {
    font-size: 3.5em;
}

div {
    position: relative;
    animation: myAnim 2s ease 0s 1 normal forwards;
    top: -2em;
    left: 30em;
}

@keyframes myAnim {
	0% {
		transform: translateX(80em);
	}

	100% {
		transform: translateX(-30em);
	}
}



.letra{
    position: relative;
    top: -0.5em;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 0, 0);
    text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    font-size: 5em;
}

