body{
    text-align: center;
    background: #000000;
    padding: 100px 100px 100px 100px;
}
.boton {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #ff0000, #000000);/*primero degrade del boton y el segundo como termina el degrade */ 
    border-radius: 10px;/*borde del boton*/
    box-shadow: 3px 3px 3px 3px #980000; /* color y tamaño de la luz de fondo*/
    font-family: monospace;
    color: #ffffff; /* color de las letras*/  
    padding: 10px 10px 10px 10px; /*top,bottom,left,right para donde se estira*/
    text-decoration: none;
    font-size: 20px; /* tamaño de las letras*/
    display: inline-block;
    margin: 5px 5px;
}
.boton:hover {
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000,#ff0000);
    text-decoration: none;
    }