@import "https://unpkg.com/transition-style";

body {
background: rgb(0, 0, 0);
}

.letra{
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 0, 0);
    text-shadow:0 0 0.6em rgb(255, 0, 0), 0 0 0.6em rgb(255, 0, 0);/* color de la luz*/
    font-size: 80px;
    color: white;
    font-family: monospace;
    font-weight: 900;
    margin: 5px;
}

