body, html{
    height: 100%;
    background: #000;
}
/* facha de la bolita*/
#ball{
    width: 20px;
    height: 20px;
    background: #000;
    position:absolute;
    left:10px;
    top:0px;
    border: 2px solid #fff;
    border-radius: 10px;
}


/* apariencia de las paletas*/
.bar{
    width: 20px;
    height: 100px;
    background: #000;
    border: 2px solid #fff;
}

/* ubicación de la paleta one*/
#bar1{
    top: 20px;
    float: left; 
    position: absolute;
}

/* ubicación de la paleta 2 */
#bar2{
    top: 20px;
    right:0px;
    position: absolute;
}

/* ubicación de la linea punteada*/
#line{
    width:50%;
    border-right: #fff dashed 5px;
    height: 100%;  
}