body{
    text-align: center;
    background: #ecf0f1;
    padding-top: 20px;
}
    .boton{
    text-shadow: 0px 1px rgba(0,0,0,0.2);
        text-align: center;
        text-decoration: none;
    font-family: 'helvetica neue', Helvetica, sans-serif;
    display: inline-block;
        color: #FFF;
        background: #7f8c8d;
        padding: 10px 20px;
        white-space: nowrap;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 100px;
        margin: 10px 5px;
        -webkit-transition: all o.2s ease-in-out;
        -ms-transition: all o.2s ease-in-out;
        -moz-transition: all o.2s ease-in-out;
        -o-transition: all o.2s ease-in-out;
        transition: all o.2s ease-in-out;
}
.azul{
    background: #3498db;
    box-shadow: 0px 5px 0px 0px #2980b9;
}
.amarillo{
    background: #e30808;
    box-shadow: 0px 5px 0px 0px #e30808;
}
.verde{
    background: #21b821;
    box-shadow: 0px 5px 0px 0px #21b821;
}
