/*fuente de "star wars"*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* apariencia del body apenas comienza*/
body {
	margin: 0;
	background-color: #000;
	overflow: hidden !important;
}

/* body luego de arrancar la animación*/
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 61%,
		rgba(0, 0, 0, 0.54) 79%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 1;
}

/* apariencia de las estrellas (la ubicación la otorga el js )*/
.stars {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: #fff;
	z-index: 2;
}

/* posición/fuente/ubicación/apariencia de la frase de inicio*/
.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: rgb(75, 213, 238);
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 3.25rem;
	width: 80%;
	opacity: 0;
	animation: intro 6s ease-out 0.5s;
}

/* esa animación difumina hasta desaparecer la frase de inicio*/
@keyframes intro {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* ubicación/tamaño y demas del "logo" */
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	opacity: 0;
	animation: logo 10s ease-out 9s;
}

/* aparición del logo/animación */
.logo img {
	width: inherit;
}

/* esta animación hace que aparexca la imagen antes mencionada y se aleje hasta desaparecer */
@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
}

/* color del texto*/
p {
	color: #ffe81f;
}

/* tamaño/posición y margen de cambio del scroll automatico*/
#scroller {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 70em;
	width: 25em;
	position: absolute;
	bottom: 0;
	left: 40%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
}

/* scroll automatico luego de que se empiece a mover*/
#scroller::after {
	position: absolute;
	content: "";
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
}

/* ubicación y animación de lacaja donde se almacena el texto*/
#content {
	position: absolute;
	top: 100%;
	animation: scoller 100s linear 16s;
}

/* animación con un error ortografico que si corrijo no funciona nada XD*/
@keyframes scoller {
	0% {
		top: 100%;
	}
	100% {
		top: -200%;
	}
}

/* ubicación del titulo y subtitulo del juego  ☺*/
#title,
#subtitle {
	text-align: center;
	line-height: 1.5rem;
}

/* lo mismo con otro valor*/
#subtitle {
	text-transform: uppercase;
	font-size: 3.5rem;
}

.audio{
    display:none;
}